<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @question.title %>
</p>

<%= link_to 'Editar', edit_question_path(@question) %> |
<%= link_to 'Voltar', @question.quiz %>

<h2>Respostas da Pergunta:</h2>
<ul>
  <% @answers.each do |answer| %>
    <li>
      <%= answer.content %>
    </li>
  <% end %>
</ul>