
<body class="page-alunos">

<h1>Quizzes</h1>

  <div class="alunos">
    <% @quizzes.each do |quiz| %>
      <div class="aluno">
        <div class="align-image">
        <%= image_tag("robot.svg", :alt => "imagem da pessoa", class:"icone-imagem") %>
        <h2><%= quiz.title %></h2>
        <h3><%= quiz.description %></h3>
        <h3><%= link_to 'Mostrar', quiz , class:"links-perfil" %></h3>
        <h3><%= link_to 'Editar', edit_quiz_path(quiz) , class:"links-perfil" %></h3>
        <h3><%= link_to 'Excluir', quiz, method: :delete, data: { confirm: 'Tem certeza?' } , class:"links-perfil" %></h3>
      </div>
    <% end %>
  </div>
<br>

<span class="logout-button"><%= link_to 'Novo Quiz', new_quiz_path, class:"link-logout" %></span>
</body>

