<body class="page-alunos">
<div class="alunos">
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("person.png", :alt => "imagem da pessoa", class:"icone-imagem icone-menu") %>
             </div>  
                <h2 class="menu">PERFIL</h2>
        </div>
    </div>
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("estudos.png", :alt => "imagem de livro", class:"icone-imagem icone-menu") %>
        </div>
                <h2 class="menu">ESTUDOS</h2>
        </div>
    </div>
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("escola.png", :alt => "imagem da escola", class:"icone-imagem icone-menu") %>
        </div>
                <h2 class="menu">ESCOLA</h2>
        </div>
    </div>
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("forum.png", :alt => "imagem do forum", class:"icone-imagem icone-menu") %>
        </div>
                <h2 class="menu">FÓRUM</h2>
        </div>
    </div>
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("eventos.png", :alt => "imagem da pessoa", class:"icone-imagem icone-menu") %>
        </div>
                <h2 class="menu">EVENTOS</h2>
        </div>
    </div>
    <div class="aluno">
        <div class="align-image">
        <div class="square">
            <%= image_tag("trofeu.png", :alt => "imagem da pessoa", class:"icone-imagem icone-menu") %>
        </div>
                <h2 class="menu">RANKING</h2>
        </div>
    </div> 
</div>

</body>