<p id="notice"><%= notice %></p>

<h1>users</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Email</th>
      <th>Nascimento</th>
      <th>Pontuação</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.birth %></td>
        <td><%= user.score %></td>
        <td><%= link_to 'Mostrar Estudante', user %></td>
        <td><%= link_to 'Editar Estudante', edit_user_path(user) %></td>
        <td><%= link_to 'Excluir Estudante', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Adicionar Novo Estudante', new_user_path %>
