<body class="pagelogin">


<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= image_tag("nyancat.png", :alt => "ícone do nyancat", class:"icone") %>
  <div class="login">
  <div class="field-login">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email"  %>
  </div>  
  <div class="field-login">
    <%= f.password_field :password, autocomplete: "current-password", placeholder: "Senha" %>
  </div>
  <div class="actions-login">
    <%= f.submit "Logar", class:'buttons' %>
  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>

<h1>Nome do sistema</h1>
<h2>Frase bonita do sistema</h2>
<h2>Crie sua conta</h2>
</body>