<!DOCTYPE html>
<html>
  <head>
    <title>ProjetoMaravilha</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=render "layouts/header" %>
    <% if !@hide_header %>
      <% if user_signed_in? %>
        <span class="logout-button button-ir-perfil"><%= link_to 'Perfil', current_user, class:"link-ir-perfil link-logout" %></span>
        <span class="logout-button-red"><%= link_to 'Sair', destroy_session_path(current_user), class:"link-logout-red", method: :delete %></span>
      <% end %>
    <% end %>
    <%= yield %>
  </body>
</html>
